<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://uncsoft.github.io/anubis-oss/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>uXjeYxgRvTVd3fAkaTty9gPCe1GSbgmoGspZg8NCuuE=</string>
	<key>SUAutomaticallyCheckForUpdates</key>
	<true/>
	<key>SUEnableAutomatedDownloads</key>
	<false/>
</dict>
</plist>
