<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://devpadapp.com/anubis/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>uXjeYxgRvTVd3fAkaTty9gPCe1GSbgmoGspZg8NCuuE=</string>
</dict>
</plist>
